flows/user-data/.nr-flows.json.backup
[{"id":"54e99c8d.16f514","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9b4e161.fe2de","type":"http in","z":"54e99c8d.16f514","name":"","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["6e2f16aa.a34618","b66fcbe4.e3e5f8"]]},{"id":"6e2f16aa.a34618","type":"debug","z":"54e99c8d.16f514","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":280,"wires":[]},{"id":"e618710b.a01ce","type":"http response","z":"54e99c8d.16f514","name":"","statusCode":"","headers":{},"x":930,"y":140,"wires":[]},{"id":"b66fcbe4.e3e5f8","type":"function","z":"54e99c8d.16f514","name":"","func":"let details = msg.payload;\nmsg.to = details.email;\nmsg.topic = details.fullName + \", You are registered for the AI Hackathon\";\nmsg.payload = \"Congratulations on being registered for the AI Hackathon, we are looking forward to having you\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[["e618710b.a01ce","6ea7f750.64acc8"]]},{"id":"6ea7f750.64acc8","type":"e-mail","z":"54e99c8d.16f514","server":"smtp.gmail.com","port":"465","secure":false,"name":"shikwambana27@gmail.com","dname":"","x":880,"y":240,"wires":[]}]