flows/user-data/nr-flows.json
[{"id":"54e99c8d.16f514","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9b4e161.fe2de","type":"http in","z":"54e99c8d.16f514","name":"","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["b66fcbe4.e3e5f8","99967e1.dea2e8"]]},{"id":"e618710b.a01ce","type":"http response","z":"54e99c8d.16f514","name":"","statusCode":"","headers":{},"x":930,"y":140,"wires":[]},{"id":"b66fcbe4.e3e5f8","type":"function","z":"54e99c8d.16f514","name":"","func":"let details = msg.payload;\nmsg.to = details.email;\nmsg.topic = details.fullName + \", You are registered for the AI Hackathon\";\nmsg.payload = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>Neutrinos - Build Something Powerful</title>\n</head>\n<body>\n    <h1>Hi ${details.fullName}</h1>\n\n    <p>Congratulations on registering for the Hackathon. We look forward to hosting you on the 22nd of June 2019.<br>You can learn more about our company by visiting our website</p>\n\n    <button style=\"background-color: red; color: white; border: none; padding: 10px\"><a href=\"https://www.neutrinos.co\" target=\"_blank\" style=\"text-decoration: none; color: white\">Visit Neutrinos</a></button>\n</body>\n</html>`\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[["e618710b.a01ce","6ea7f750.64acc8"]]},{"id":"6ea7f750.64acc8","type":"e-mail","z":"54e99c8d.16f514","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":810,"y":240,"wires":[]},{"id":"99967e1.dea2e8","type":"function","z":"54e99c8d.16f514","name":"","func":"let details = msg.payload;\nmsg.to = \"pooja.sharma@neutrinos.co\";\nmsg.topic = details.fullName + \", would like to register for the AI Hackathon\";\nmsg.payload = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>Neutrinos - Build Something Powerful</title>\n</head>\n<body>\n    <h1>Hi Pooja</h1>\n\n   <p>${details.fullName} would like to register for the Hackathon. His details are listed below:</p>\n\n   <p>Name: ${details.fullName}</p>\n   <p>Email: ${details.email}</p>\n   <p>Problem: ${details.problem}</p>\n   <p>Reason for wanting to take part: ${details.reason}</p>\n   <p>Attendance: ${details.attendance}</p>\n</body>\n</html>`\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["6ea7f750.64acc8"]]}]